<div class="row">

    <div class="col-md-4">
        <h2>Team List</h2>
        <input type="button" value="Get Teams" class="btn btn-primary" onclick="getTeams()" />
        <ul id="team-list" class="list-group" />
    </div>

    <div class="col-md-4">
        <h2>Get details</h2>
        <input type="text" id="teamID" size="5" />
        <input type="button" value="Get Details" class="btn btn-primary" onclick="findTeam()" />
    </div>

    <div class="col-md-4">
        <h2>Search for team</h2>
        <input type="text" id="teamName" size="10" />
        <input type="button" value="Get Picture" class="btn btn-primary" onclick="findPicture()" />
    </div>
    <div class="row">

        <div class="col-md-4">
            <h2>Team Details</h2>
            <ul id="current-team" class="list-group"></ul>
        </div>

        <div class="row">
            <div class="col-md-4">

            </div>



            <div class="col-md-4">
                <h2>Images</h2>
                <div id="img"></div>
            </div>
    </div>
</div>

<script>

    var uri = 'http://localhost:51397/api/teams/';

    function clearList() {
        $('#team-list').empty();
    }


    function getTeams() {
        clearList();

        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: item.ID + ' : ' + item.Team }).appendTo($('#team-list'));
            });
        });
    }

    function findTeam() {
        var id = $('#teamID').val();

        $.getJSON(uri + id)
            .done(function (data) {
                $('#current-team').html("Team : " + data.Team + "<br />" + "Year Founded : " + data.Founded + "<br />" + "Manager :" + data.Manager
                    + "<br />" + "Nick Name :" + data.NickNames + "<br />" + "Stadium :" + data.Stadium + "<br />"
                    + "Stadium Capacity:" + data.StadiumCapacity + "<br />" + "Champions League Wins :" + data.ChampionsLeague 
                    + "<br />" + "Premier League Wins: " + data.PremierLeague + "<br />" + "FA Cup Wins:" + data.FaCup + "<br />"
                    + "League Cup Wins: " + data.LeagueCup + "<br />" + "Community Shield Wins: " + data.CommunityShield + "<br />"
                    + "Home Colours: " + data.homeColours + "<br />" + "Away Colours: " + data.AwayColours + "<br />"
                    + "Third Colours: " + data.ThirdColours + "<br />" + "Kit Maker: " + data.KitMaker)
            })

            .fail(function (jqXHR, textStatus, err) {
                $('#current-team').text('Error: ' + err);
            });
    }

    function findPicture() {
        var name = $('#teamName').val();
        var flickerAPI = "http://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?";
        $.getJSON(flickerAPI, {
            tags: name,
            tagmode: "any",
            format: "json",
            per_page: "1"
        })
          .done(function (data) {
              $.each(data.items, function (i, item) {
                  $("<img>").attr("src", item.media.m).appendTo("#img");
                  if (i == 0) {
                      return false;
                  }
              });
          });
    };
</script>
